.other-info-child{
   /* margin-left: 24px;
   margin-right: 24px; */
   /* padding-left: 24px;
    padding-right: 24px; */
    padding: 24px;

}
.first-info h2 ,p,img{
    padding-bottom: 18px;
}
a{
    text-decoration: none;
}

@media (min-width:600px)
{
    .first-info{
        display: flex;
        padding: 35px;
        align-items: center;
    }
    .w-burger{
        width: 550px;
        height: 360px;
    }
    p{
        font-size: 18px;
    }
    h2{
        font-size: 30px;
    }
    .first-info h2 ,p{
        padding: 20px;
    }
    
}
