/* .padding{
    padding: 20px;
} */
.about-cont{
    background-color: #efefef;
    
}
.about-text{
    /* padding-left: 24px;
    padding-right: 24px; */
    padding: 24px;

}
.about-text h2{
    text-align: center;
    padding: 5px;
}

@media (min-width:600px){

    .about-text{
        display: flex;
        justify-content: space-evenly;
        padding: 35px;
    }
    .about-text h2,p{
        padding: 35px;
    
    }
    
}