*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arima', cursive;

}
p{
    font-size: 14px;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: aqua;

}