.offer-container{
    /* margin-left: 24px;
    margin-right: 24px; */
    /* padding-left: 24px;
    padding-right: 24px; */
    padding: 24px;
}
.offer-1{
    text-align: center;
    margin-top: 10px;
}
h4 {
    margin: 5px;
}

@media(min-width:600px){


    .cards{
        display: flex;
    
        
    }
    .offer-1{
        text-align:center;
        padding: 5px;
    }
    h4{
        font-weight: bold;
        font-size: 20px;
    }
    .offer-container{
        padding: 35px;
    }


}